= content_for :title, t('.title', title: @resource.title)

= content_for :actionbar do
  %ul.menu.horizontal
    %li= link_to t('integral.actions.view_on_site'), special_offer_url(@resource), class: 'button white', icon: :eye

= render 'form'
